@font-face{
	font-family:Blackout;
	src:url('Blackout-Regular.ttf');
}

@font-face{
	font-family:Allcaps;
	src:url('AllCaps.ttf');
}

@font-face{
	font-family:Loyal;
	src:url('Loyal.ttf');
}

@font-face{
	font-family:QuickSand;
	src:url('QuickSand.otf');
}

body
{
	font-family:QuickSand;
}

#header
{
}

#allLogs
{
	overflow:auto;
	position:relative;
	height:65%;
	width:46%;
	border: 1px dashed black;
	border-radius: 5px;
	padding: 1%;
}

/*overflow - para sa scrolling*/
/*yung absolute ay para sa pangbackground?*/