@font-face{
	font-family:Blackout;
	src:url('Blackout-Regular.ttf');
}

@font-face{
	font-family:Allcaps;
	src:url('AllCaps.ttf');
}

@font-face{
	font-family:Loyal;
	src:url('Loyal.ttf');
}

@font-face{
	font-family:QuickSand;
	src:url('QuickSand.otf');
}

@font-face{
	font-family:Enchanted;
	src:url('EnchantedPrairieDog.ttf');
}

@font-face{
	font-family:Princess;
	src:url('JellykaWesternPrincess.ttf');
}

body
{
	margin:0;
	padding:0;
	font-family:QuickSand;
	overflow:hidden;
	background-image:url('pics/pic2.jpg');
}

input
{
	font-family:QuickSand;
}

img
{
	height:100%;
	width:100%;
}

#largeContainer
{
	height:100%;
	width:100%;
	position:relative;
	float:left;
}

#footer
{
	font-size:0.9em;
	position:absolute;
	float:left;
	color:white;
	left:1%;
	top:97%;
}

#systemName
{
	float:left;
	padding-top:2%;
	text-align:center;
	color:white;
	height:100%;
	width:20%;
	background-color:black;
	opacity:0.7;
	position:absolute;
	left:75%;
}

#signIn
{
	background-color:black;
	border:1px dotted gray;
	margin:10%;
	padding:2%;
}

.welcome
{
	font-size:2em;
}
.inputSignIn
{
	font-size:0.5em;
}

.signInTable
{
	margin:auto;
	font-size:1.5em;
}

.DMS
{
	font-family:Princess;
	font-size:3em;
	color:white;
	text-decoration:none;
}

hr
{
	width:80%;
	border-color:gray;
}